@import url('https://fonts.googleapis.com/css2?family=Alata&family=Suez+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dce1d4;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.container h1 {
    margin-bottom: 15px;
}

.cadastro-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97a97c;
    padding: 1rem;
}

.cadastro-img img {
    width: 31rem;
}

.cadastro {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcfff8;
    padding: 3rem;
}

.cadastro-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Suez One', serif;
    color: #181918;
}

.cadastro-botao {
    display: flex;
    align-items: center;
}

.cadastro-botao {
    border: 2px solid #000000;
    background-color: #c6d8ad;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-botao button {
    background-color: #97a97c;
    color: #fcfff8;
    font-size: 18px;
    padding: 10px 20px; 
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.login-botao button:hover {
    background-color: #5f7161;
}

.login-botao button a {
    text-decoration: none;
    font-weight: 500;
    color: #fcfff8;
}

.cadastro-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #97a97c;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    font-family: 'Alata', sans-serif;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #dce1d4;
}

.input-box input:focus-visible {
    outline: 1px solid #5f7161;
}

.input-box label,
.pet-title h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.pet-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 .5rem;
}

.pet-input {
    display: flex;
    align-items: center;
    font-size: 0.80rem;
}

.pet-input input {
    margin-right: 0.35rem;
}

.pet-input label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: 2px solid #000000;
    background-color: #97a97c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
}

.continue-button button:hover {
    background-color: #5f7161;
    border: 2px solid #000000;
}

.continue-button button a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #fcfff8;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .pet-inputs {
        margin-top: 2rem;
    }
    .pet-group {
        flex-direction: column;
    }
    .pet-title h6 {
        margin: 0;
    }
    .pet-input {
        margin-top: 0.5rem;
    }
}
