@import url('https://fonts.googleapis.com/css2?family=Alata&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    letter-spacing: 1px;
}

.body {
    font size: 100%; 
    background-color: #FCFFF8;
}

.cabecalho {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-left: 20px;
    margin-top: 10px;
}

.cabecalho-imagem {
    width: 110px;
    height: auto;
}

.cabecalho-menu {
    display: flex;
    gap: 15px;
}

.cabecalho-menu button {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #000000;
    background-color: #c6d8ad;
    padding: 0.70rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 100%;
    color: #5f7161;
}

.cabecalho-menu button:hover {
    background-color: #5f7161;
}

.container-page {
    max-width: 1400px;
    margin: 0 auto 100px;
}

.titulo {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    font-family: 'Suez One', serif;
    font-size: 4rem;
}

.titulo p {
    font-size: 1.65rem;
}

.botao-anunciar {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}

.botao-anunciar p {
    font-family: 'Alata', sans-serif;
    font-size: 150%;
    margin-bottom: 1rem;
}

.botao-link {
    width: 15%;
    display: inline-block;
    border: 1px solid #000000;
    background-color: #c6d8ad;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: center;

}

.filtro {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0 40px 0;
    align-items: center;
}

.filtro label[for="situacao"],
.filtro label[for="especie"],
.filtro label[for="genero"],
.filtro label[for="cidade"] {
    font-family: 'Alata', sans-serif;
    padding-right: 1rem;
}

.filtro select {
    font-family: 'Alata', sans-serif;
    width:7rem;
    padding:2px;
    background-color:#c6d8ad;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #0000001c;
    margin-right: 1.5rem;
}

#cidade {
    background-color:#c6d8ad;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #0000001c;
    height: 23px;
}

.filtro button {
    border: 1px solid #000000;
    background-color: #97a97c;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    color: #000000;
    text-decoration: none;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}

.box-item {
    background-color: #cedfb5;
    flex: 0 0 23%;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 8px;
}

.box-item img {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 100%;
    display: flex;
}

.box-item p {
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    overflow-wrap: break-word;
    flex-grow: 1;

}

.footer {
    display: flex;
    background-color: #dce1d4;
    padding: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    justify-content: space-around;
    align-items: center;
}

.footer-contatos img {
    width: 80px; 
    height: auto;
}

.footer-contatos h5 {
    margin-top: 10px;
    font-size: 18px;
}

.footer-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
}


.redes-link {
    margin: 0 5px;
    text-decoration: none;
}

.footer-lista {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    
}

.footer-link {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
}

.footer-lista a:hover {
    color: #5f7161;
    border-bottom: 2px solid #5f7161;
}

.footer-botao {
    margin-top: 15px;
    background-color: #5f7161;
    color: #fff;
    border: 2px solid #000000;
    padding: 5px 10px;
}

.footer p {
    margin-bottom: 10px;
}

#footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.a:visited {
    color: #181918;
}
