@import url('https://fonts.googleapis.com/css2?family=Alata&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    letter-spacing: 1px;
}

.body {
    font size: 100%; 
    background-color: #FCFFF8;
}

.cabecalho {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin: 2% 0 5%;
}

.cabecalho-imagem {
    width: 120px;
    height: auto;
}

.cabecalho-menu {
    display: flex;
    gap: 15px;
}

.cabecalho-menu {
    font-family: 'Alata', sans-serif;
    color: #181918;
    font-weight: 400;
    font-size: 20px;
    transition: color 0.3s;
}

.cabecalho-menu button {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #000000;
    background-color: #c6d8ad;
    padding: 0.70rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-size: 100%;
    color: #5f7161;
}

.cabecalho-menu button:hover {
    background-color: #5f7161;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1 {
    font-family: 'Suez One', serif;
    font-size: 3.5rem;
    color: #181918;
    max-width: 1000px;
}

.titulo h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #97a97c;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.titulo p {
    font-family: 'Alata', sans-serif;
    font-size: 1.7rem;
    color: #181918;
    max-width: 1000px;
    margin-bottom: 15px;
    text-align: center;
}

.formularioContato { 
    max-width:600px; 
    height:auto; 
    float:none; 
    margin:auto; 
    padding:1em; 
    margin-bottom:1em; 
    border-radius:6px; 
}

.formularioContato:before { 
    width:0; 
    height:0; 
    border:15px;
    content:""; 
    position:absolute; 
    left:6%; 
    top:-4.5%; 
    margin-top:-4px; 
    margin-left:6px; 
    z-index:2;
}

.formularioContato label  { 
    float:left; 
    width:100%; 
    margin-bottom:1.2em; 

}

.formularioContato label span {
    width: 100%;
    float: left;
    color: #181918;
    margin-bottom: 6px;
    font-family: 'Alata', sans-serif;

}

.formularioContato label input  { 
    font-size:1em; 
    color: #5f7161;
    font-family: 'Alata', sans-serif; 
    outline:none; 
    border:1px #5f7161 solid; 
    border-radius:4px; 
    padding:0.6em; 
    transition: 0.3s;  
    width: 100%;

}

.formularioContato label select { 
    font-size:1em; 
    color:#181918; 
    border:1px #181918 solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none; 
    transition: 0.3s;  

}

.formularioContato label textarea { 
    font-size:1em; 
    color:#181918; 
    border:1px #181918 solid; 
    border-radius:4px; 
    padding:0.6em; 
    outline:none;
    transition: 0.3s;  
    width: 100%; 

}

.formularioContato label input:focus    { box-shadow:0 0 5px 0px #5f7161; border:1px #5f7161 solid; color:#5f7161(37,174,230);}
.formularioContato label select:focus   { box-shadow:0 0 5px 0px #5f7161; border:1px #5f7161 solid; }
.formularioContato label textarea:focus { box-shadow:0 0 5px 0px #5f7161; border:1px #5f7161 solid; color:#5f7161(37,174,230);}

.formularioContato button.btn-envia { 
    background-color: #5f7161;
    width:100%; display:block; 
    margin:auto; cursor:pointer; 
    border-radius:4px;  
    border:0; 
    padding:0.8em 0em; 
    color:#fff; 
    font-size:1.3em; 
    font-family: 'Alata', sans-serif; 
    text-align: center;
    transition: 0.3s;   
    margin-top: 15px;

}

.formularioContato button.btn-envia:hover { 
    background-color:#dce1d4;
    font-family: 'Alata', sans-serif;
    color: #181918;

}

.footer {
    display: flex;
    background-color: #dce1d4;
    padding: 20px;
    text-align: center;
    font-family: 'Alata', sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-top: 7%;
    width: 100%;
}

.footer-contatos img {
    width: 80px; 
    height: auto;
}

.footer-contatos h5 {
    margin-top: 5px;
    font-size: 18px;
}

.footer-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 25px;
}


.redes-link {
    margin: 0 5px;
    text-decoration: none;
}

.footer-lista {
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
    
}

.footer-link {
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
}

.footer-lista a:hover {
    color: #5f7161;
    border-bottom: 2px solid #5f7161;
}

.footer-botao {
    margin-top: 10px;
    background-color: #5f7161;
    color: #fff;
    border: 2px solid #000000;
    padding: 5px 10px;
}

.footer p {
    margin-bottom: 10px;
}

#footer-copyright {
    margin-top: 15px;
    font-size: 14px;
    color: #777;
}

.a:visited {
    color: #181918;
}
